# Ignore all generic files in folder
*.pyc
__pycache__/
.AdvancedRAG/

# Ignore specific folders
Models/EmbeddingModels/
Models/ImageCaptionModels/
Models/MainLLM/
TempData/
QdrantDBStorage/